In [3]:
import camelot 
import re
import pandas as pd
tables = camelot.read_pdf('result.pdf', pages="17")
marks = tables[0].df.iloc[[3,6,9,12,15,18,21,24,27,30],3:12]
# print(marks.to_string(index=False, header=False))
new = marks.to_string
marks.to_csv('file.csv', index=False, header=False)

f = open('file.csv')
text = f.read()
f.close()
result = re.sub("[\(\[].*?[\)\]]", " ", text)
result2 = re.sub(".,", " ", result)

with open("file.csv", "w") as outfile: 
    outfile.write(result2) 
print(result2)
df = pd.read_csv("file.csv") 
df

52 78 76 56 73 74 83 78 90
40  58 52 45 57 55 83 82 90
59 40  63 59 64 65 91 82 85
64 54 78 42 72 73 83 85 75
67 44  53 65 64 83 84 75
61 53 64 42 65 49 81 82 90
44 46 68 40  49 51 83 82 75
69 77 76 62 71 64 85 84 100
78 78 83 76 79 69 85 82 90
87 84 90 71 82 81 87 84 95

    52 78 76 56 73 74 83 78 90
0  40  58 52 45 57 55 83 82 90
1  59 40  63 59 64 65 91 82 85
2   64 54 78 42 72 73 83 85 75
3     67 44  53 65 64 83 84 75
4   61 53 64 42 65 49 81 82 90
5  44 46 68 40  49 51 83 82 75
6  69 77 76 62 71 64 85 84 100
7   78 78 83 76 79 69 85 82 90
8   87 84 90 71 82 81 87 84 95

In [63]:
import camelot 
import pandas as pd
tables = camelot.read_pdf('result.pdf', pages="17")
tables[0].df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,S.No.,Photo.,Roll no./Name,Institution Code: 702 Institution: DELHI I...,,,,,,,...,,,,,,,,,,CS/Remarks
1,41,,04770211218\nVINAYAK\nSID: 190000112245\nSchem...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
2,,,,16 36,22 56,22 54,16 40,21 52,16 58,35 48,...,,,,,,,,,,
3,,,,52(B),78(A+),76(A+),56(B+),73(A),74(A),83(A+),...,,,,,,,,,,
4,42,,04870211218\nVISHAL KUMAR\nSID: 190000112246\n...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
5,,,,19 19,20 38,22 30,14 31,17 40,17 38,35 48,...,,,,,,,,,,
6,,,,40(P)*,58(B+),52(B),45(C),57(B+),55(B+),83(A+),...,,,,,,,,,,
7,43,,04970211218\nVISHWKANT\nSID: 190000112247\nSch...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
8,,,,16 43,17 20,21 42,15 44,23 41,23 42,38 53,...,,,,,,,,,,
9,,,,59(B+),40(P)*,63(B+),59(B+),64(B+),65(A),91(O),...,,,,,,,,,,
10,44,,20170211218\nSHIVAM\nSID: 190000111997\nScheme...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
11,,,,18 46,23 31,23 55,13 29,21 51,20 53,35 48,...,,,,,,,,,,
12,,,,64(B+),54(B),78(A+),42(P),72(A),73(A),83(A+),...,,,,,,,,,,
13,45,,40170211218\nMOHAMMED NAVED ANSARI\nSID: 19000...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,23
14,,,,17 50,20 24,20 \nA,16 37,20 45,20 44,35 48,...,,,,,,,,,,
15,,,,67(A),44(P),A,53(B),65(A),64(B+),83(A+),...,,,,,,,,,,
16,46,,40270211218\nSUNNY VEDWAL\nSID: 190000112249\n...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
17,,,,11 50,18 35,20 44,12 30,21 44,23 26,34 47,...,,,,,,,,,,
18,,,,61(B+),53(B),64(B+),42(P),65(A),49(C),81(A+),...,,,,,,,,,,
19,47,,40370211218\nCHANDRANSHU CHATURVEDI\nSID: 1900...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
20,,,,12 32,20 26,22 46,12 25,19 30,14 37,35 48,...,,,,,,,,,,
21,,,,44(P),46(C),68(A),40(P)*,49(C),51(B),83(A+),...,,,,,,,,,,
22,48,,40570211218\nNANDINI BHATTACHARYA\nSID: 190000...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
23,,,,23 46,24 53,25 51,21 41,20 51,24 40,36 49,...,,,,,,,,,,
24,,,,69(A),77(A+),76(A+),62(B+),71(A),64(B+),85(A+),...,,,,,,,,,,
25,49,,40770211218\nANSHUMAN FAUZDAR\nSID: 1900001122...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
26,,,,21 57,23 55,22 61,15 61,23 56,17 52,36 49,...,,,,,,,,,,
27,,,,78(A+),78(A+),83(A+),76(A+),79(A+),69(A),85(A+),...,,,,,,,,,,
28,50,,40970211218\nPRIYANSHU MURTHI\nSID: 1900001122...,36201(4),99203(4),112205(3),28205(4),36207(3),86211(4),28253(1),...,,,,,,,,,,26
29,,,,24 63,25 59,22 68,20 51,23 59,23 58,37 50,...,,,,,,,,,,
30,,,,87(A+),84(A+),90(O),71(A),82(A+),81(A+),87(A+),...,,,,,,,,,,

In [1]:
import camelot 
import re
import pandas as pd
tables = camelot.read_pdf('result.pdf', pages="17")
marks = tables[0].df.iloc[[3,6,9,12,15,18,21,24,27,30],3:12]
print(marks)
marks.to_csv('sample.csv')
df = pd.read_csv("sample.csv")

3       4       5       6       7       8       9      10      11
3    52(B)  78(A+)  76(A+)  56(B+)   73(A)   74(A)  83(A+)  78(A+)   90(O)
6   40(P)*  58(B+)   52(B)   45(C)  57(B+)  55(B+)  83(A+)  82(A+)   90(O)
9   59(B+)  40(P)*  63(B+)  59(B+)  64(B+)   65(A)   91(O)  82(A+)  85(A+)
12  64(B+)   54(B)  78(A+)   42(P)   72(A)   73(A)  83(A+)  85(A+)  75(A+)
15   67(A)   44(P)       A   53(B)   65(A)  64(B+)  83(A+)  84(A+)  75(A+)
18  61(B+)   53(B)  64(B+)   42(P)   65(A)   49(C)  81(A+)  82(A+)   90(O)
21   44(P)   46(C)   68(A)  40(P)*   49(C)   51(B)  83(A+)  82(A+)  75(A+)
24   69(A)  77(A+)  76(A+)  62(B+)   71(A)  64(B+)  85(A+)  84(A+)  100(O)
27  78(A+)  78(A+)  83(A+)  76(A+)  79(A+)   69(A)  85(A+)  82(A+)   90(O)
30  87(A+)  84(A+)   90(O)   71(A)  82(A+)  81(A+)  87(A+)  84(A+)   95(O)

In [1]:
import camelot 
import re
import pandas as pd
tables = camelot.read_pdf('result.pdf', pages="17")
marks = tables[0].df.iloc[[3,6,9,12,15,18,21,24,27,30],2:13]
df = marks.replace('\D+', '', regex=True).apply(pd.to_numeric, errors='coerce')
# name search
name = tables[0].df.iloc[25,2]
nameonly = re.findall("(.*\n){2}", name)
str1 = ''.join(nameonly)
nameonly1 = re.sub("\n", "", str1)
print(nameonly1)
# print(df)
df['Total'] = df.sum(axis=1)
# print(df)
print(df.iloc[8,11]/10)

ANSHUMAN FAUZDAR
80.5